html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 42px;
}

html {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-padding: var(--header-height);
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-item {
  width: 100%;
  max-width: 430px;
  margin: 1px 0px;
  box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  background: black;
  color: white;
}

.meme-item__image {
  width: 100%;
  height: 100%;
}

.meme-item__title {
  margin: 9px 15px;
}

.meme-item__footer {
  margin: 9px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meme-item__date {
  color: #ccc;
  font-size: small;
}

.meme-item__site {
  color: #939bad;
}

.load-more {
  color: white;
  margin: 18px 0 40vh 0;
  background: #000;
  padding: 1rem 3rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
}

.load-more:disabled {
  opacity: 0.3;
}

@media screen and (min-width: 430px) {
  .meme-item {
    border-radius: 8px;
    margin: 9px 0px;
  }
}
