html,
body {
  margin: 0;
  padding: 0;
}

html {
  --header-height: 40px;

  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-padding: var(--header-height);
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-item {
  width: 100%;
  max-width: 400px;
  margin: 10px 0px;
  box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  background: black;
  color: white;
}

@media screen and (min-width: 400px) {
  .meme-item {
    border-radius: 8px;
  }
}

.meme-item__image {
  width: 100%;
  height: 100%;
}

.meme-item__title {
  margin: 9px 15px;
}

.meme-item__site {
  margin: 9px 15px;
  display: flex;
  justify-content: flex-end;
}
